# diffusers[torch]==0.30.2
diffusers@ git+https://github.com/huggingface/diffusers
transformers==4.44.2
huggingface_hub[hf_transfer]==0.24.6
sentencepiece==0.2.0
protobuf==5.28.0
ratatosk-errands==0.20
loguru==0.7.2
bitsandbytes==0.42.0
ninja==1.11.1.1
wheel==0.44.0
setuptools==74.1.2
python-dotenv==1.0.1
